body{
    margin: 0;
}
.main{
    width: auto;
    height: 99vh;
    background-color: rgb(71, 100, 117);
    border: 3px solid goldenrod;
    text-align: center;
    
}

.avatar img{
    width: auto;
    height: 250px;
    border: 3px solid goldenrod;
    border-radius: 50%;
    margin-top: 20px;
}

b{color: goldenrod;
    font-weight: 900;

}

h2{
    color: white;
}

.link{
    border: 1px solid goldenrod;
    display: block;
    border: 2px solid color goldenrod;
    height: 40px;
    width: 400px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.link:hover{
    transition: 400ms;
    background-color: goldenrod;
    transform: translateY(-10px);
    box-shadow: 0px 0px 5px 5px rgb(188, 221, 25);

}

.avatar img:hover{
    transition: 400ms;
    background-color: goldenrod;
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 10px greenyellow;
}

